<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceSoap" />
                <binding name="BasicHttpBinding_IService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51365/Service.asmx" binding="basicHttpBinding"
                bindingConfiguration="ServiceSoap" contract="ServiceReference.ServiceSoap"
                name="ServiceSoap" />
            <endpoint address="http://localhost:49331/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService" contract="DBService.IService"
                name="BasicHttpBinding_IService" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
